<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load bootstrap %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Atividades Fisicas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body onkeydown="teclado(event)">
    <div aria-live="polite" aria-atomic="true" style="position: relative; z-index: 1000;">
        <div id="notificacoes" class="col-md-3" style="position: absolute; top: 0; right: 10px; height: 20%;"></div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-5">
        <a class="navbar-brand" href="{%url 'url_index'%}"><img style="height: 45px;"
                src="{% static 'logosemfundo.png' %}"></a>
        <button class="navbar-toggler mb-0" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav w-100 text-center">
                <a class="nav-item nav-link" href="{%url 'url_index'%}">Inicio <span
                        class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{%url 'url_form'%}">Formulário</a>
                <a class="nav-item nav-link active" href="{%url 'url_exercicios'%}">Atividades físicas</a>
                <a class="nav-item nav-link" href="{%url 'url_stroop'%}">Teste de Stroop</a>
                <a class="ml-lg-auto nav-item btn btn-outline-warning " href="#">"Informações do Aluno"</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid  rounded p-3 text-center col-10 col-md-7 mt-3 pt-5 pr-0"> 
        <form method="POST" class="container-fluid col-9 col-md-8">
            {%csrf_token%}
            <div class="collapse-inicio show">
                <h2 class="titulo">Questionário de Atividade Física</h2><br>
            <input type="text" id='id_cod' name='codigo' class="form-control" placeholder="Digite seu Código" autofocus>
            <button type="submit" value="submit" id="enviar" class="btn btn-success mt-4 col-sm-8 col-md-9">Confirmar</button>
            {% if messages %}
            <ul class="messages  mt-3">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
    <script src="{%static 'script/script.js'%}"></script>
</body>

</html>